/* p.time {
font-style: bold;
} */

#userInput, #primeInput {
    border-style: solid;border-width: 3px; border-color:black;
    background-color: rgb(175, 175, 175);
    width: 150px; height: 24px;

}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width:270px;
}

.fontx {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative; top: -1px; left: -4px;
}

.fontxd {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative; top: -1px; left: -4px;
}

#butin, #butp {
    border-style: solid;border-width: 3px;border-color: black; background-color: rgb(175, 175, 175);
    width: 55px; height: 30px; position: relative; top: -1px; left: -11px;
}